<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I am in the App Component!</h3>
            <hr>
            <app-servers></app-servers>  <!-- by using selector-->
            <!-- <div app-servers></div>  by using attribute(change selector to an attribute ) -->
            <!-- <div class="app-servers"></div> -->
        </div>
    </div>

    <hr>
<p>Assignment 1</p>
<div class="row">
    <div class="col">
        <ol>
            <li>Create two new components (manually or with CLI): WarningAlert and SuccessAlert</li>
            <li>Output them beneath easch other in the AppComponent</li>
            <li>Output a warning or succes message in the components</li>
            <li>Style the components appropriately (maybe some red / green text)</li>
        </ol>
        <p>Use external or internal templates and styles!</p>
        <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
        <hr>
        <app-warning-alert></app-warning-alert>
        <app-success-alert></app-success-alert>
    </div>
</div>

<hr>
<p>Assignment 2</p>
<div class="row">
    <div class="col">
        <ol>
            <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
            <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
            <li>Add a button which may only be clicked if the username is NOT an empty string</li>
            <li>Upon clicking the button, the username should be reset to an empty string</li>
        </ol>

        <hr>
        <app-server></app-server>
    </div>
</div>


<hr>
<p>Assignment 3</p>
<div class="row">
    <div class="col">
        <app-display></app-display>
    </div>
</div>

</div>
